body{

}
/*
header {
    margin: 0;
    height: 100px;
    background-color:green;
    position: relative;
} */

/* #logo {
    position: absolute;
    width: 250px;
    height: 70px;
    background-color: bisque;
    left: 25px;
    top: 5px;
    text-align: center;
}

#logo h3 {
    position: absolute;
    top: 15px;
    left: 80px;
} */

/* #navbar {
    padding-top:50px;

    float: right;
} */

#uye {
  border-radius: 7px;
  border:2px solid #141d26;
}



#form1{
    width:700px;
    height:450px;
    margin-left:55px;
    margin-top: 20px;
}

#btn {
  margin-top: 80px;
  margin-left: 225px;
}

#sonuc{
    /* background-Color: #fff; */
    border-radius: 5px;
    width:160px;
    height:350px;
    float: right;
    margin-right:80px;

}

#snc {
  margin-left: 10px;
}

.bir {
  margin-top: 25px;
  width:130px;
  height: 65px;
  border: 2px solid #141d26;
  border-radius: 8px;
}

.iki {
  margin-top: 35px;
  width:130px;
  height: 65px;
  border: 2px solid #141d26;
  border-radius: 8px;
}

.uc {
  margin-top: 35px;
  width:130px;
  height: 65px;
  border: 2px solid #141d26;
  border-radius: 8px;
}
.dort {
  margin-top: 35px;
  width:130px;
  height: 65px;
  border: 2px solid #141d26;
  border-radius: 8px;
}


/* #bir {

    width: 140px;
    height: 85px;
    background-color: #fff;

}

.iki {

    width: 140px;
    height: 65px;
    background-color: #fff;
}

.uc {

    width: 140px;
    height: 65px;
    background-color: #fff;
} */

.degerler {
    float:right;
    margin-top: 10px;
    margin-right: 15px;
    font-size: 18px;
    /* border: 1px solid #000;
    border-radius: 5px; */
    padding-top: 5px;
}
